<!DOCTYPE html>
<html>
  <body>
    <div id="header-bar">
      <!-- <div class="row"> -->
        <img id="logo" src="./img/LogoHorizontal.png">
      <!-- </div> -->
      <header>
        <div id="home-tab">Home</div>
        <div id="about-tab">Sports</div>
        <div id="gallery-tab">Casino</div>
        <div class="dropdown">    
          <div class="dropdown-toggle" data-toggle="dropdown-menu" aria-haspopup="true" aria-expanded="false">Games</div>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </header>
    </div>
  </body>
</html>
