// $fontFam: "Source Code Pro", monospace;
$backgroundColor: #0f0f23;
%text-style{
	font-family: "Source Code Pro", monospace;
	color: #ffffff;
	font-size: 12px;
}

.main-wrapper {
	max-width: 1280px;
	margin: 160px auto 0 auto;
	// background-color: rgb(6, 102, 102);
}

.text-wrapper{
	max-width: 850px;
	margin: 100px auto 0 70px;
	background-color: $backgroundColor;
	font-family: "Tahoma";
	color: rgb(255, 255, 255);
}

.text{
	@extend %text-style;
	line-height: 1.5;
	text-align: left;
	position: raltive;
	left: 100px; 	
	top: 261.638px;
	width: 738px;
	height: 100px;
	z-index: 15;
}

.rightCol{
	@extend %text-style;
	margin-top: 100px;
	width: 326px;
	height: 637px;
	background-color: $backgroundColor;
}