.main-wrapper {
	max-width: 1280px;
	margin: 160px auto 0 auto;
	// background-color: rgb(6, 102, 102);
}

.text-wrapper{
	max-width: 850px;
	margin: 100px auto 0 70px;
	background-color: rgb(30, 58, 58);
	font-family: "Tahoma";
	color: rgb(255, 255, 255);
}

.text{
	font-size: 12px;
	line-height: 1.5;
	text-align: left;
	position: raltive;
	left: 100px; 	
	top: 261.638px;
	width: 738px;
	height: 100px;
	z-index: 15;
}

.rightCol{
	margin-top: 100px;
	width: 326px;
	height: 637px;
	background-color: rgb(5, 82, 82);
}